
[nz-button] {
  margin-top: 12px;
  border-radius: 6px;
  background-color: #516BEB;
  color: white;
  font-size: 20px;
}

[nz-button]:hover {
  background-color: white;
  color: #516BEB;
}

nz-button-group [nz-button] {
  margin-right: 0;
}
    
.link-button {
  color: black;
}