<div id="food-card">
    <h1 id="food-name"><b>{{foodName}}</b> by {{foodManufacturer}}</h1>
    <p>{{foodDescription}}</p>
    <div id="food-card-bottom">
        <app-learnmore-button [link]="foodLink"></app-learnmore-button>
        <div *ngIf="foodCert">
            <button id="food-cert-button" 
                    nz-button nz-popover 
                    nzType="primary" 
                    nzPopoverPlacement="top"
                    nzPopoverContent="This product is Certified Gluten Free by {{foodCert}}.">
                <img id="food-cert" src="/assets/{{foodCert}}.png">
            </button>
        </div>
    </div>
</div>