#food-card {
    background: #84DFFF;
    border-radius: 6px;
    box-shadow: 0px 2px 5px #bbbbbb;
    padding: 30px 30px;
    margin: 20px;
}

img {
    max-height: 50px;
    margin: 0px 0px 20px 0px;
}