<div class="content" role="main">
    <div class="card">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="search-text"></label>
          <nz-input-group nzCompact [nzSuffix]="suffixIconSearch">
            <nz-select class="select" formControlName="certification">
              <nz-option [nzLabel]="'GFCO'" [nzValue]="'gfco'"></nz-option>
              <nz-option [nzLabel]="'NSF'" [nzValue]="'nsf'"></nz-option>
              <nz-option [nzLabel]="'CGL'" [nzValue]="'cgl'"></nz-option>
            </nz-select>
            <input  type="text" 
                    name="search" 
                    class="form-control" 
                    id="search-text" 
                    aria-describedby="search-text" 
                    formControlName="search"
                    nz-input 
                    placeholder="Enter text to search" 
                    autofocus />
          </nz-input-group>
          
          <ng-template #suffixIconSearch>
            <i nz-icon nzType="search"></i>
          </ng-template>
 
        </div>
        <div *ngIf="searchText">
          <h4 id="show-results">Showing search results for <b>"{{searchText}}"</b> 
            <div *ngIf="form.value.certification">with <b>{{form.value.certification.toUpperCase()}}</b> certification</div>
          </h4>
        </div>
        
      </form>
    </div>
  </div>