.content {
    padding: 15px;
}

.form-control {
    border-radius: 6px;
}

.search-button {
    margin-left: 10px;
    border-radius: 6px;
    background-color: #516BEB;
    color: white;
}

.search-button:hover {
    background-color: white;
    color: #516BEB;
}

.clear-button {
    margin-left: 10px;
    border-radius: 6px;
    background-color: #516BEB;
    color: white;
    margin-top: 30px;
}

.clear-button:hover {
    background-color: white;
    color: #516BEB;
}